.git/
.gitigrnore/
heroic/
spicetify/
chromium/
yay/
bleachbit/
BraveSoftware/
Gmail Desktop/
discord/
discordcanary/
Postman/
spotify/
vesktop/
yarn/
Code/
systemd/
supertuxkart/
TabNine/
torbrowser/
Rambox/
QtProject/
qt5ct/
obsidian/
JetBrains/
ardour8/
Franz/
figma-linux/
inkscape/
GIMP/
alacritty/
astro/
firefoxprofileswitcher/
galculator/
Kvantum/
sanity/
session/
user-dirs.locale
knfsshare
pavucontrol.ini
dolphinrc
gwenviewrc
kdeglobals
baloofileinformationrc
user-dirs.dirs
QtProject.conf
mimeapps.list
kdenliverc
kdenlive-layoutsrc
picom-j

