<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lineedit_history_store_config_chooser_query</key>
	<array>
		<string>lib</string>
	</array>
	<key>lineedit_history_store_search_search_title</key>
	<array>
		<string>hacking</string>
		<string>against the god</string>
		<string>against</string>
		<string>again</string>
		<string>python</string>
		<string>gac</string>
		<string>hacker</string>
		<string>gada</string>
		<string>gadafi</string>
		<string>gsdfadfasdf</string>
		<string>gsdfa</string>
	</array>
</dict>
</plist>
